{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css연결 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calender.css' %}">
    <!-- js 연결 -->    
    <script src="{% static 'js/calender.js' %}"></script>
    <title>Document</title>

</head>
<body>  
    <h2><script>getCurrentMonth()</script>, 
    <script>getCurrentYear()</script><h2>
    <script>
    let weeknameOfFirstDay = getWeeknameIndex(1);
    let dayIndex = '';
    let monthDayLength = getMonthDayLength(new Date().getMonth());
    let loop = true;
    
    while(loop){
        document.write('<div class="calender_row">');
        for(let i =0; i<7; i++){
            if(dayIndex =='' && i == weeknameOfFirstDay && loop){
            dayIndex = 1;           
            }
            document.write("<span class='daily_container' id='daily_container_' + i + '_' + j>"+dayIndex+"</span>");
            if(dayIndex > 0 && dayIndex<monthDayLength){
            dayIndex++;
            }else if (dayIndex == monthDayLength){
                dayIndex = '';
                loop = false;
            }
        }
        document.write('</div>');
        document.write("<br>");
    }


    </script>

</body>
</html>