{% load filters %}
{% load static %}

{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css연결 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calender.css' %}">
    <!-- js 연결 -->    
    <script src="{% static 'js/calender.js' %}"></script>
    {% comment %} <title>Document</title> {% endcomment %}

</head>
<body>



{% if user.is_authenticated %}


<span class="topBarBtns">
<button type="submit"><a href="{% url 'diary:diary' %}">플래너로</a></button>
            <button type="submit"><a href="{% url 'community:community' %}">커뮤니티로</a></button> </span>
<span class="topBar"> {{user}}님 <button type="button" class="create-btn"><a href="{% url 'diary:logout' %}">로그아웃</a></button></span>


{% else %}
<span class="topBar"><a href= "{% provider_login_url 'kakao' %}"><img src="{% static 'kakao_login_medium_narrow.png' %}" style="width:125px;"></a></span>

{% endif %}


<div class="container">

    <div class="info_container">
    
    <script>
    printYearMonth({{year}}, {{month}}, {{today}})
    </script>
    </div>

     <div class="calender_container">
     <div class="calender_year_container">
     {% if today != undefined %}
     <a href="{% url 'calender:calender' %}" id="go_to_now_text_selected" >GO to NOW</a>
     {% else %}
     <a href="{% url 'calender:calender' %}" id="go_to_now_text" >GO to NOW</a>
     {% endif %}
     <a href="{% url 'calender:change_calender' year=previous_year month=1 %}"   id="arrow" ><</a>
{{year}}
<a href="{% url 'calender:change_calender' year=next_year month=1 %}"    id="arrow">></a>
</div>
<br>

       <div class="calender_month_container">
     {% for value in 13|ranges %}
        {% if value == month %} 
        <a href="{% url 'calender:change_calender' year=year month=value %}" class="another_month_btn_selected" ><script>printMonthName({{value}})</script></a>
        {% else %}
        <a href="{% url 'calender:change_calender' year=year month=value %}" class="another_month_btn" ><script>printMonthName({{value}})</script></a>

         {% endif %}
     {% endfor %}

     
     </div>
     
     <script>
        drawCalender({{year}}, {{month}} , {{today}}, {{todo_lists_js|safe}})
    </script>
    </div>
    
</div>

{% comment %} 




    <script>
    
        initCalender({{year}}, {{month}})
    </script>
    </div> {% endcomment %}
</body>
</html>