
a{
    text-decoration:none;
    
    font-family: 'GmarketSansMedium';
}

.today_text{
    text-decoration:none;
    color: rgb(129, 171, 88);
    font-family: 'GmarketSansMedium';

}
html,body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketSansLight';
    background-image: url("../backimage.jpg");
    width: 100%;
    height: 100%;
}
*{
    
    margin: 0px;

}

.topBar{
    position:absolute;
    top:3%;
    right:8%;
}

.topBarBtns{
    position: absolute;
    top:3%;
    left : 8%;
}

button {
    text-decoration: none;
    font-family: 'GmarketSansMedium';
    border: 1px solid rgb(129, 171, 88);
    background-color: rgba(0,0,0,0);
    color: rgb(129, 171, 88);
    padding: 5px;
    border-radius: 5px;
}

button > a {
    text-decoration: none;
    
    color: rgb(129, 171, 88);
}

.calender_info_container{
 text-align: center;
 
}
#todo_text{
    font-size:12px;
color: #838282;
}

#arrow{
    font-size:24px;
     color: #838282;
}

.another_month_btn_selected{
    font-weight: bold;
     color:rgb(129, 171, 88);
}

.calender_month_container{
    display: flex;
    justify-content:space-around;
border-bottom: 1px solid #AAAAAA;
font-size:16px;
margin-bottom:13px;
}

#go_to_now_text{
    text-decoration:none;
    font-size:16px;
    color: #AAAAAA;
}



#go_to_now_text_selected{
    text-decoration:none;
    font-size:16px;
    color: rgb(129, 171, 88);
}

#dayText
{
font-size: 64px;
font-weight: bold;
}
.calender_year_container{
    width:100%;
    text-align: end;
    color: #AAAAAA;
    font-weight: bold;
    font-size: 32px;

}


.weekname_container_0{
    background-color: red;
}
.weekname_container_6{
    background-color: blue;
}

.weekname_container{
    margin-bottom: 8px;
    font-size:22px;
    font-weight: bold;
    width: 15%;
    text-align: start;
    color: #838282;
}

.another_month_btn{
  color: #AAAAAA;
  left: 350px;
  top: 90px;
  word-spacing: 10px;
}

.calender_row{
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    
    display: flex;
}

.daily_container  {
font-weight: bold;
    width: 15%;
    height: 11vh;
    /* border-style: solid; */
}

html{
    height:100%;
    background-color: rgba(211, 211, 211, 1);
}
body{
    height: 100%;
    display:flex; 
    justify-content:center;
    align-items:center;
}

.calender_container{
    width: 70%;
    padding:10px
}



.container{
        box-shadow: 10px 5px 5px #aaaaaa;
    display: flex;
    background-color:white;
    border-radius: 20px;
    width: 85%;
}

.info_container{
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items:center;
 justify-content:center;
 color:aliceblue;   
    width:30%;
      background-color: rgb(129, 171, 88);
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
