*{
    margin: 0px;
}

.weekname_container_0{
    background-color: red;
}
.weekname_container_6{
    background-color: blue;
}

.calender_row{
    margin:0px;
    display: flex;
}

.daily_container  {
    width:10vw;
    height:10vh;
border-style: solid;
}