{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/community.css' %}">

    <title>Document</title>
</head>
<body>
    <header>
        <div class='title'>
        <h1>Community !</h1>
        </div>
    </header>
    <div class='nav'>
    <button type="button" class="create-btn"><a href="{% url 'calender:calender' %}">Calender</a></button>&nbsp
    <button type="button" class="create-btn"><a href="{% url 'diary:diary' %}">Planner</a></button>&nbsp
    <button type="button" class="create-btn"><a href="{% url 'community:create' %}">Write</a></button>
    </div>
    
    <div class='content'>
    {% for write in all_write %}
    <a href="{% url 'community:detail' write.id %}">
        <div class='all_write'>
            <br>
            {% if write.mainphoto %}
            <img src ="{{write.mainphoto.url}}" width=230 height=230>
            {% endif %}
            <br>

        </div>
    </a>

    {% endfor %}
    </div>
</body>
</html>

