{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Community !</h1>
    <button type="button" class="create-btn"><a href="{% url 'community:create' %}">글 작성</a></button>
    <hr>
    

    {% for write in all_write %}
    <a href="{% url 'community:detail' write.id %}">
        <div class='all_write'>
            {{write.id}}&nbsp
            {{write.title}}&nbsp
            {{write.updated_at|date:"Y.m.d"}}
        </div>
    </a>
    <div class='update-delete'>
        <a href="{% url 'community:update' write.id %}">수정하기</a>
        <a href="{% url 'community:delete' write.id %}">삭제하기</a>
    </div>
    {% endfor %}
{% endblock %}
