{% extends 'base.html' %}
{% load static %}
{% block content %}
    제목 : {{my_write.title}}
    <br><br>내용 : {{my_write.contents}}
    <br><br>날짜 : {{my_write.updated_at|date:"Y.m.d"}}
    <h2>comment</h2><hr>
    {% if user.is_authenticated %}
    <form method='POST' action="{% url 'community:create_comment' my_write.id %}">
        {% csrf_token %}
        {{comment_form}}
        <button type='submit'>댓글 작성</button>
    </form>
    {% endif %}
    {% for comment in comments %}
    <h3>{{comment.user}}</h3>
    {{comment.content}}//<a href="{% url 'community:delete_comment' write_id=my_write.id comment_id=comment.id %}">삭제하기</a>
    <hr>
    {% endfor %}
{% endblock %}